.user {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 800px;
    height: 30px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    background: #235df1;
}

.post {
    width: 800px;
    height: 225px;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    margin-bottom: 15px;
    padding: 10px;
    grid-template-columns: 30% 70%;
    grid-template-rows: calc(100% - 60px) 60px;
    grid-template-areas:
        'image text'
        'image footer';
    color: #000;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.image img {
    border-radius: 15px;
}

.text {
    grid-area: text;
    margin-top: 12.5px;
    display: flex;
}

.text span {
    text-align: justify;
}

.stats {
    grid-area: footer;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.date {
    display: flex;
    justify-content: flex-end;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes,
.views {
    display: flex;
    align-items: center;
}

.likes svg,
.views svg {
    margin-right: 5px;
}

.logoutBtn {
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    transition: color 0.2s ease-in, background 0.3s ease-in;
}

.logoutBtn:hover {
    background-color: #000;
    color: #fff;
}

.homepageLink {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 5px;
    transition: color 0.2s ease-in, background 0.3s ease-in;
}

.homepageLink:hover {
    color: #000;
    background-color: #fff;
}
