@import 'roboto.scss';
@import '~normalize.css';

body {
    font-family: 'Roboto';
    background-color: #1d2759;
    color: #ffffff;
}

.container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}
